body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    }
header {
    background: #333;
    color: white;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 {
    margin: 0;
    font-size: 2em;
    align-items: center;
}
nav {
    background: #444;
    padding: 0.5em;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
}
nav a:hover {
    text-decoration: underline;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
nav ul li {
    margin: 0 1em;
    align-items: center;
}

main {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
}
mp3 {
    background: #fff;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
div#blogposts {
    margin-top: 2em;
}
blogposts {
    background: #fff;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
posts {
    background: #fff;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
li
{
    margin-bottom: 0.5em;
}
ul
{
    padding-left: 1.5em;
}